<div class="container">
<div class="row" style="margin-bottom:10px;">
<div class="col-md-3 divBody">
    <img #mainImage src="{{selectedItem?.imageUrl}}" class="img-responsive" alt="" width="100%" height="100%">
</div>
<div class="col-md-6 divBody" style="margin-left:40px;">
<div class="col-md-3">
   <p>Name :</p> 
   <p>Description :</p>
   <p>Price :</p>
</div>
<div class="col-md-6" style="padding-left:0px;">
    <p> {{selectedItem?.name}}</p>
    <p>{{selectedItem?.description}}</p>
    <p #price>Rs. {{selectedItem?.price}}</p>
</div>
<div class="col-md-3 pull-left" style="padding-left:0px;padding-right:0px;">
    <p>
    <label class="pull-right">Rating 
    <span class="glyphicon glyphicon-star" style="color:orange;"></span>
    <span class="glyphicon glyphicon-star" style="color:orange;"></span>
    <span class="glyphicon glyphicon-star" style="color:orange;"></span>
    <span class="glyphicon glyphicon-star-empty" ></span>
    <span class="glyphicon glyphicon-star-empty" ></span>
    </label>
    </p>
</div>
<div class="col-md-12">
<hr style="margin-top:8px;">
<p>Delivery : Estimated between Fri. Dec. 8 and Wed. Dec. 27</p>
<p>Payment : <img src="https://www.forefrontimaging.com/images/payment-1.png" style="width:150px;height:40px;" alt=""></p>
</div>


</div>
<div class="col-md-2 divBody" style="margin-left:40px;">
<label>Top Rated Seller</label>
<img src="https://images.bonanzastatic.com/blog_assets/0000/3180/top_seller_round_140x128.png" alt="" width="50" height="50">
  <p><span class="glyphicon glyphicon-ok" style="color:chartreuse;"></span> orders</p>
  <p><span class="glyphicon glyphicon-ok" style="color:chartreuse;"></span> Ships items quickly</p>
  <p><span class="glyphicon glyphicon-ok" style="color:chartreuse;"></span> Excellent service</p>

</div>
</div>
<div class="row">
<div class="col-md-3 divBody" style="height:180px;">
    <div class="col-md-4" *ngFor="let i of selectedItemImages">
        <img src="{{i.imageUrl}}" alt="" width="70" height="70" 
        (click)="imageChange(i.imageUrl,mainImage)" >
        
    </div>
</div>
<div class="col-md-6 divBody" style="height:180px;margin-left:40px;">
    <sc-itemaddcart></sc-itemaddcart>
</div>
</div>
</div>
